body {
  background-color: #E4E6E6;
}
.App {
  text-align: center;
}
.header {
  width:100%;
  background:#2aa5f1;
  padding: 15px 0px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}
.logo{
  font-size: 2.4rem;
  color:white;
  margin-left: 15px;
 }

 .links {
   display: flex;
   margin-left: 50px;
   flex-direction: row;
   justify-content: flex-start;
 }
 .link {
  margin: 15px 10px;
  display: inline-block;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600;
text-transform: uppercase;
 }
