body {
  background-color: #E4E6E6;
}
.App {
  text-align: center;
}
.header {
  width:100%;
  background:#2aa5f1;
  padding: 15px 0px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}
.logo{
  font-size: 2.4rem;
  color:white;
  margin-left: 15px;
 }
